@font-face {
    font-family: 'lato-black';
    src: url('../fonts/lato-black-webfont.eot');
    src: url('../fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-black-webfont.woff2') format('woff2'),
         url('../fonts/lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lato-bold';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lato-light';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0 auto;
    max-width: 1600px;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

.menu {
    background: #222222;
    padding: 18px 0;
}

.container--menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 40px;
    width: 44px;
    text-decoration: none;
}

.menu_bars {
    padding-right: 30px;
    text-decoration: none;
}

.user {
    padding-right: 30px;
    text-decoration: none;
    width: 29px;
}

.cart-wrp {
    position: relative;
    display: inline;
    text-decoration: none;
}

.cart_nmbr {
    position: absolute;
    background-color: #F16D7F;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    top: -20px;
    right: -13px;
}

.page-header {
    background: #F1E4E6;
    display: flex;
    align-items: center;
    position: relative;
}

.headerDark {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.header-img {
    margin-right: 39px
}

.header_heading {
    text-transform: uppercase;
    font-size: 31px;
    line-height: 37px;    
    margin: 0;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    box-sizing: border-box;
    font-family: lato-black, arial, sans-serif;
    width: 407px;
}

.header_heading--big {
    font-size: 48px;
    line-height: 58px;
    display: block;
}

.header_heading--bold {
    display: block;
    font-family: lato-bold, arial, sans-serif;
}

.header_heading--pink {
    color: #F16D7F;
}

.header_menu {
    width: 232px;
    height: 100%;
    margin-left: auto;
    background-color: #fff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 16px 16px 0 34px;
    box-sizing: border-box;
}

.cross {
    display: flex;
    justify-content: flex-end;
}

.menu_heading {
    font-size: 14px;
    line-height: 17px;
    font-family: lato-bold, arial, sans-serif;
    margin-top: 37px;
    margin-bottom: 24px;
}

.menu_list-name {
    color: #F16D7F;
    font-size: 14px;
    line-height: 17px;
    font-family: lato-regular, arial, sans-serif;
    font-weight: 400;
}

.menu_list {
    list-style-type: none;
    margin-bottom: 20px;
    margin-top: 0;
    padding-left: 21px;
}

.menu_item {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    font-family: lato-regular, arial, sans-serif;
    font-weight: 400;
    margin-top: 11px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 65px 0 96px 0;
}

.grid_wrp {
    position: relative;
}

.grid_wrp--column {
    grid-column: 1/ 4;
}

.grid_women-wrp {
    top: 105px;
    left: 103px;
    position: absolute;
}

.grid_men-wrp {
    position: absolute;
    top: 105px;
    left: 125px;
}

.grid_kids-wrp {
    position: absolute;
    top: 105px;
    left: 123px;
}

.grid_txt {
    margin: 0;
    font-size: 16px;
    line-height: 19px;
    font-family: lato-regular, arial, sans-serif;
    color: #fff;
    text-align: center;
}

.grid_accesories--position {
    top: 65px;
    left: 491px;
    position: absolute;
}

.grid_txt--pink {
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    font-family: lato-bold, arial, sans-serif;
    margin: 0;
    font-weight: 700;
}

.featured-items {
    padding-bottom: 95px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.featured_heading {
    font-size: 30px;
    line-height: 36px;
    font-family: lato-bold, arial, sans-serif;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
    font-weight: 400;
    width: 100%;
}

.featured_txt {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    margin: 0;
    font-family: lato-light, arial, sans-serif;
    width: 100%;
}

.featured_grid {
    display: grid;
    grid-gap: 30px;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    padding: 48px 0;
}

.card {
    position: relative;
    max-width: 360px;
}

.card_img {
    display: block;
}

.card_btn {
    display: none;
    position: absolute;
    top: 188px;
    left: 111px;
    border: 1px solid #FFFFFF;
    padding: 10px 16px 8px 13px;
    background-color: transparent;
    font-family: lato-regular, arial, sans-serif;
    color: #fff;
}

.card_cart-img {
    margin-right: 11px;
}

.card:hover .card_img {
    filter: brightness(0.5);
}

.card:hover .card_btn {
    display: flex;
    align-items: center;
}

.card_txt-wrp {
    background-color: #F8F8F8;
    padding: 25px 28px 20px 16px;
}

.card_heading {
    margin: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    font-family: lato-regular, arial, sans-serif;
    font-weight: 400;
}

.card_txt {
    text-align: left;
    padding: 12px 0 18px 0;
    color: #5D5D5D;
}

.card_price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    font-family: lato-regular, arial, sans-serif;

}

.featured_btn {
    padding: 14px 38px;
    background-color: transparent;
    border: 1px solid #F26376;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    font-family: lato-regular, arial, sans-serif;
    display: flex;
    align-items: center;
}

.featured_btn:hover {
    background: #F16D7F;
    color: #fff;
}

.featured_btn:active {
    background: transparent;
    color: #F16D7F;
}

.featured_btn:hover .collection__btn {
    fill: #fff;
}

.info {
    background: #222224;
    display: flex;
    padding: 104px 0;
    justify-content: center;
    text-align: center;
}

.delivery {
    margin-right: 44px;
}

.discount {
    margin-right: 44px;
}

.info_heading {
    font-size: 19.96px;
    line-height: 24px;
    color: #fff;
    margin: 0;
    margin-bottom: 16px;
    font-family: lato-regular, arial, sans-serif;
    text-transform: capitalize;
    font-weight: 400;
}

.info_heading--deliv {
    margin-top: 28px;
}

.info_heading--disc {
    margin-top: 19px;
}

.info_heading--qual {
    margin-top: 25px;
}

.info_txt {
    width: 324px;
}

.page-footer {
    background-image: url(../images/footer-bcg-img.png);
}

.footer_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 86px;
    padding-bottom: 156px;
}

.footer_info {
    text-align: center;
    width: 360px;
    font-size: 20px;
    line-height: 24px;
}

.footer_info-txt {
    font-size: 20px;
    line-height: 24px;
    font-family: lato-regular, arial, sans-serif;
    margin: 0;
    margin-top: 30px;
}

.italic {
    font-style: italic;
}

.footer_form {
    text-align: center;
}

.form_heading {
    margin: 0;
    margin-bottom: 32px;
}

.form_heading--bold {
    font-family: lato-bold, arial, sans-serif;
    font-size: 24px;
    line-height: 40px;
}

.form_heading--regul {
    font-family: lato-regular, arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

.footer_email {
    font-size: 14px;
    line-height: 17px;
    border: none;
    outline: none;
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
    width: 256px;
    background-color: #E1E1E1;
    padding: 18px 0 18px 22px;
}

.footer_submit {
    font-size: 14px;
    line-height: 17px;
    margin-left: -4px;
    color: #FFFFFF;
    background-color: #F16D7F;
    border: none;
    outline: none;
    padding: 18px;
    border-bottom-right-radius: 21px;
    border-top-right-radius: 21px;
}

.copy {
    padding: 24px 0;
    background-color: #222222;
}

.copy--flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.copy_txt {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    font-family: lato-regular, arial, sans-serif;
    font-weight: 400;
}

.copy_link {
    text-align: center;
    background-color: #fff;
    padding: 8px 9px 7px 9px;
    text-decoration: none;
    margin-left: 7px;
}

.copy_link:hover {
    background: #F16D7F;
}

.copy_img {
    width: 14px;
    height: 15px;
}

.copy_link:hover .copy_img{
    fill: #fff;
}

/* ---------------------Catalog----------------------------- */

.newArrivals {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #F8F3F4;
}

.container--flex {
    display: flex;
    justify-content: space-between;
}

.header__left {
    margin: 0;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    font-family: lato-regular, arial, sans-serif;
    font-weight: 400;
}

.header__right {
    margin: 0;
}

.header__link {
    text-decoration: none;
    font-family: lato-light, arial, sans-serif;
    color: #636363;
}

.header__link--pink {
    color: #F16D7F;
    font-weight: 700;
}

.filters {
    padding-top: 51px;
    padding-bottom: 19px;
    display: flex;
}

.filters__button {
    display: block;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-right: 304px;
    padding: 0;
}

.filters__txt {
    margin-right: 11px;
    font-family: lato-bold, arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.filters__txt--pink {
    color: #ef5b70 !important;
    left: 16px;
    top: 13px;
}

.filters__img--pink {
    left: 16px;
    top: 13px;
    fill: #ef5b70;
}

.filters__txt,
.filters__left,
.filters__img {
    position: relative;
    z-index: 1;
}

.filters__button,
.filters__img {
    z-index: 2;
}

.left-popup {
    position: absolute;
    left: 0;
    top: 0;
    width: 360px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 46px 16px 16px;
    box-sizing: border-box;
}

.left-popup-wrp {
    margin-bottom: 24px;
}

.left-popup__link {
    display: block;
    text-decoration: none;
    padding-left: 34px;
    padding-right: 16px;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
    font-family: lato-regular, arial, sans-serif;
    margin-bottom: 11px;
}

.filters__center {
    display: flex;
}

.arrow {
    margin-left: 10px;
}

.left-popup__heading {
    font-size: 14px;
    line-height: 37px;
    color: #ef5b70;
    padding-left: 11px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 24px;
    position: relative;
    cursor: pointer;
    border-left: 5px solid #EF5B70;
    font-family: lato-regular, arial, sans-serif;
}

.center-button {
    cursor: pointer;
    padding: 0;
    align-items: center;
    font-family: lato-regular, arial, sans-serif;
    color: #6F6E6E;
    font-size: 14px;
    line-height: 17px;
}

.trending-wrp {
    margin-right: 28px;
    display: flex;
    align-items: center;
}

.price-wrp {
    display: flex;
    align-items: center;
}

.size-wrp {
    margin-right: 28px;
    position: relative;
    display: flex;
    align-items: center;
}

.size__list {
    position: absolute;
    left: 0;
    top: 25px;
    width: 79px;
    height: 103px;
    background: #ffffff;
    box-shadow: 6px 4px 35px rgb(0 0 0 / 21%);
    padding: 7px 9px;
    box-sizing: border-box;
    font-size: 14px;
    color: #6f6e6e;
    z-index: 1;
}

.size__item {
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
    font-family: lato-regular, arial, sans-serif;
    margin-bottom: 5px;
}

.catalog__pagination {
    margin: 0 auto;
    width: 284px;
    padding: 15px 16px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px; 
}

.reverse {
    transform: rotate(180deg);
}

.pagination__link {
    text-decoration: none;
    font-size: 16px;
    color: #c4c4c4;
    font-family: lato-light, arial, sans-serif;
    font-weight: 300;
    line-height: 19px;
}

.pagination__link:hover {
    color: #EF5B70;
}

.catalog_grid {
    display: grid;
    grid-gap: 30px;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    padding-top: 64px;
    padding-bottom: 48px;
}

/* ---------------------Cart----------------------------- */

.cart__pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F7F7F7;
    padding-top: 11px;
    padding-bottom: 42px;
}

.cart-arrow {
    background: rgba(42, 42, 42, 0.15);
    padding: 12px 17px;
}

.cart-arrow:hover .cart-arrow--pink{
    fill: #F16D7F;
}

.wmn-collection {
    position: relative;
    z-index: 1;
    top: 937px;
    background-color: #fff;
    width: 1024px;
    left: 230px;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    top: -65px;
    left: 0;
}

.collection-wrp {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 65px 0;
    align-items: center;
}

.collection_txt-wrp {
    padding-bottom: 65px;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 65px;
}

.collection__heading,
.collection__heading-pink,
.collection__price,
.collection__txt {
    font-family: lato-light, arial, sans-serif;
}

.collection__heading-pink {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin-bottom: 12px;
}

.collection__heading-pink::after {
    content: "";
    background-color: #EF5B70;
    height: 3px;
    width: 63px;
    display: block;
    margin: 0 auto;
    margin-top: 12px;
}

.collection__heading {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
}

.collection__txt {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    color: #5E5E5E;
    margin-top: 48px;
    margin-bottom: 32px;
    max-width: 555px;
}

.collection__price {
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
}

.collection_filter-wrp {
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
}

.collection__btn {
    margin-right: 23px;
    fill: #EF5B70;
}

.btn--margin {
    margin-right: 23px;
}

.cart-cards {
    display: flex;
    justify-content: center;
}

.cart-grid {
    display: grid;
    grid-template: 1fr / repeat(3, 360px);
    grid-gap: 30px;
    padding: 129px 0;
}

@media (max-width:768px) {

.menu {
    padding-right: 32px;
    padding-left: 32px;
}

.user {
    padding-right:42px;
}

.header-img {
    width: 386px;
    height: 386px;
}

.header_heading {
    width: 310px;
    font-size: 23px;
    line-height: 28px;
}

.header_heading--big {
    font-size: 44px;
    line-height: 51px;
}

.header_menu {
    display: none;
}

.grid_women-wrp {
    top: 59px;
    left: 39px;
}

.grid_men-wrp {
    top: 61px;
    left: 57px;
}

.grid_kids-wrp {
    top: 58px;
    left: 59px;
}

.grid_accesories--position {
    top: 33px;
    left: 288px;
}

.grid_women,
.grid_men,
.grid_kids {
    width: 232px;
    height: 167px;
}

.grid_accesories {
    width: 735px;
    height: 116px;
}

.grid {
    grid-gap: 19px;
    padding: 20px 16px 155px;
}

.featured-items {
    padding-bottom: 65px;
}

.featured_grid {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    padding: 73px 16px 32px 16px;
    grid-gap: 16px;
}

.card {
    max-width: 360px;
}

.info {
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 64px;
}

.delivery {
    margin: 0;
}

.discount {
    margin: 48px 0 48px 0;
}

.page-footer {
    background-size: cover;
    background-position: -415px 1px;
}

.footer_flex {
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 140px;
}

.form_heading {
    margin-top: 48px;
}

.copy > .container {
    max-width: none;
    margin: 0;
}

.copy {
    padding: 30px 32px;
}

.newArrivals{
    padding-right: 16px;
    padding-left: 16px;
}

.filters {
    padding-right: 16px;
    padding-left: 16px;
    justify-content: space-between;
}

.catalog_grid {
    padding: 40px 16px;
    grid-gap: 16px;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

.card-hidden {
    display: none;
}

.cart__pagination {
    padding-top: 30px;
    padding-bottom: 29px;
}

.wmn-collection {
    position: static;
    max-width: 768px;
}

.cart__pagination {
    position: static;
}

.cart-cards {
    display: block;
}

.cart-grid {
    grid-gap: 16px;
    padding-left: 16px;
}

}

@media (max-width:376px) {

.container {
    max-width: 376px;
}

.menu {
    padding-right: 16px;
    padding-left: 16px;
}

.menu-img {
    padding: 0;
}

.cart {
    display: none;
}

.user {
    display: none;
}

.cart_nmbr {
    display: none;
}

.page-header {
    padding: 148px 56px;
}

.header-img {
    display: none;
}

.header_heading {
    font-size: 19px;
    line-height: 24px;
    width: 263px;
}

.header_heading--big {
    font-size: 38px;
    line-height: 42px;
}

.grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding-top: 46px;
    padding-bottom: 64px;
}

.grid_women,
.grid_men,
.grid_kids {
    width: 343px;
    height: 247px;
}

.grid_women-wrp {
    top: 98px;
    left: 94px;
}

.grid_men-wrp {
    top: 101px;
    left: 72px;
}

.grid_kids-wrp {
    top: 105px;
    left: 92px;
}

.grid_wrp--column {
    grid-column: 1/2;
}

.grid_accesories {
    width: 343px;
    height: 111px;
    object-fit: cover;
}

.grid_accesories--position {
    top: 30px;
    left: 92px;
}

.featured_items {
    padding-bottom: 96px;
}

.featured_grid {
    grid-template: repeat(6, 1fr) / 1fr;
    padding: 64px 7px 41px 7px;
}

.info {
    padding-bottom: 81px;
}

.page-footer {
    background-position: -563px -85px;
}

.footer_flex {
    padding-bottom: 109px;
}

.footer_info-txt {
    font-size: 18px;
}

.form_heading {
    margin-top: 60px;
    margin-bottom: 22px;
}

.form_heading--regul {
    font-size: 14px;
}

.footer_email {
    width: 220px;
}

.copy {
    padding-top: 43px;
    padding-bottom: 9px;
}

.copy--flex {
    flex-direction: column-reverse;
    align-items: center;
}

.copy_txt {
    margin-top: 40px;
}

.newArrivals {
    padding-top: 24px;
    padding-bottom: 46px;
}

.container--flex {
    flex-direction: column;
    align-items: center;
}

.header__left {
    margin-bottom: 32px;
}

.filters {
    padding-left: 8px;
    padding-right: 8px;
}

.filters__button {
    width: 38px;
}

.filters__left {
    width: 38px;
    margin-right: 52px;
}

.filters__txt {
    display: none;
}

.filters__img {
    width: 37px;
    height: 25px;
}

.center-button {
    font-size: 12px;
    line-height: 14px;
}

.trending-wrp {
    margin-right: 23px;
}

.size-wrp {
    margin-right: 23px;
}

.arrow {
    height: 5px;
    margin-left: 9px;
}

.catalog_grid {
    grid-template: repeat(6, 1fr) / 1fr;
    padding: 32px 7px 40px;
}

.catalog__pagination {
    margin-bottom: 64px;
}

.cart__pagination {
    padding-top: 85px;
    padding-bottom: 85px;
}
.collection__txt {
    max-width: 326px;
}

.pagin__img {
    position: relative;
    min-width: 374px;
}

.cart-arrow {
    position: absolute;
    z-index: 1;
}

.cart-arrow--pos {
    right: 0;
}

.cart-grid {
    grid-template: repeat(2, 1fr) / 360px;
    padding-left: 8px;
}

}